.about_page {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    background-image: url("..//../Images//ab.jpg");
}

.about_container_left {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}

.about_container_left_content {
    width: 70%;
    min-height: 100px;
    padding: 20px;
    color: rgb(9, 9, 9);
    line-height: 30px;
    font-size: 20px;
    margin: auto;
}

.about_container_right {
    background-color: aquamarine;
    border-radius: 50%;
    justify-content: end;
    margin: auto;
}

.about_container_right img {
    width: 200px;
    height: 210px;
    border-radius: 50%;
    justify-content: end;
}